.base-sub {
    padding-left: 60px !important;
    padding-right: 50px !important;
    /* width: 1369px !important; */
}

.base-sub input[type='text'],
.base-sub select,
input[type='number'] {
    height: 40px !important;
    font-family: Roboto;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.36 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #000000 !important;
}

.navbar{
    background-color: aqua
}

.navbar1{
    background-color: greenyellow
}

.side-navbar .normal{
    background-color: #F8F9FB;
    color: #343a40;
    text-decoration: none
}

.nav-link {
    font-family: Roboto;
    font-weight: 100;
}
.home {
    width: 100px;
}

.sidebar{
    height: -webkit-fill-available;
}

.tes{
    width:100px
}

.admin{
    color: grey;
}

.logo a{
    height:56px;
    text-align: center;
    background-color: #272A2F;
    color: grey;
    display: block;
    float: inherit;
    padding: 5px;
    text-decoration: none
}