.img-nya {
    width: 177px;
    /* height: 177px; */
    position: relative;
    /* left: -200px; */
    /* z-index: 2; */
    top: -49px;
    left: -1px;
    border: 1px solid grey;
    display: none;
    border: solid 1px #c2c2c2;
}

.img{
    width: 150px;
}
